@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "lato", sans-serif;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  body {
    width: 90%;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
header .logo {
  margin: 0 auto;
  margin-top: 30px;
  display: block;
  width: 60px;
}
header h1 {
  font-family: "DM sans", sans-serif;
  color: #D04F4F;
  font-size: 36px;
  text-align: center;
}

.search {
  margin-top: 20px;
}
.search form {
  position: relative;
}
.search .search-bar {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 60px;
  background: #E7E7E7;
  border-radius: 5px;
  border: none;
  outline: none;
}
.search .search-bar[placeholder] {
  padding-left: 20px;
}
.search #search-icon {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translatey(-50%);
  font-size: 1.5em;
  cursor: pointer;
  color: #272727;
}
.search button {
  border: none;
  background: transparent;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}
.tags .tag-Ingrédients,
.tags .tag-Appareils,
.tags .tag-Ustensiles {
  color: #fff;
  width: fit-content;
  height: 45px;
  margin: 17px 10px 0 0;
  padding: 0 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.tags .tag-Ingrédients i,
.tags .tag-Appareils i,
.tags .tag-Ustensiles i {
  font-size: 1.3em;
  padding-left: 0.5rem;
}
.tags .tag-Ingrédients {
  background-color: #3282F7;
}
.tags .tag-Appareils {
  background-color: #68D9A4;
}
.tags .tag-Ustensiles {
  background-color: #ED6454;
}

.filtres {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  position: absolute;
}
@media screen and (max-width: 800px) {
  .filtres {
    width: 90%;
    margin-top: 12px;
  }
}
.filtres .filtre {
  margin: 5px 15px 5px 0;
  position: relative;
  width: 150px;
  height: fit-content;
}
@media screen and (max-width: 800px) {
  .filtres .filtre {
    width: 100%;
    margin: 5px auto;
  }
}
.filtres .filtre i {
  font-size: 1.3em;
  position: absolute;
  top: -3px;
  right: 0;
  padding: 20px;
  color: #fff;
  cursor: pointer;
}
.filtres .filtre.selected {
  width: 600px;
}
@media screen and (max-width: 800px) {
  .filtres .filtre.selected {
    width: 100%;
  }
}
.filtres .filtre.selected i {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out 0.2s;
}
.filtres #filtre-ingredients input,
.filtres #filtre-appareils input,
.filtres #filtre-ustensiles input {
  color: #fff;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 15px;
  font-size: 1em;
}
@media screen and (max-width: 800px) {
  .filtres #filtre-ingredients input,
.filtres #filtre-appareils input,
.filtres #filtre-ustensiles input {
    width: 100%;
    font-size: 1.1rem;
  }
}
.filtres #filtre-ingredients input::placeholder,
.filtres #filtre-appareils input::placeholder,
.filtres #filtre-ustensiles input::placeholder {
  color: #fff;
}
.filtres #filtre-ingredients .selected,
.filtres #filtre-appareils .selected,
.filtres #filtre-ustensiles .selected {
  width: 600px;
}
@media screen and (max-width: 800px) {
  .filtres #filtre-ingredients .selected,
.filtres #filtre-appareils .selected,
.filtres #filtre-ustensiles .selected {
    width: 100%;
  }
}
.filtres #filtre-ingredients input.selected,
.filtres #filtre-appareils input.selected,
.filtres #filtre-ustensiles input.selected {
  width: 600px;
  border-radius: 5px 5px 0 0;
}
@media screen and (max-width: 800px) {
  .filtres #filtre-ingredients input.selected,
.filtres #filtre-appareils input.selected,
.filtres #filtre-ustensiles input.selected {
    width: 100%;
  }
}
.filtres .filtre-ingredients-content,
.filtres .filtre-appareils-content,
.filtres .filtre-ustensiles-content {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  width: 600px;
  color: #fff;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
}
.filtres .filtre-ingredients-content.selected,
.filtres .filtre-appareils-content.selected,
.filtres .filtre-ustensiles-content.selected {
  display: grid;
  height: 16rem;
}
@media screen and (max-width: 800px) {
  .filtres .filtre-ingredients-content.selected,
.filtres .filtre-appareils-content.selected,
.filtres .filtre-ustensiles-content.selected {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    overflow-y: scroll;
  }
}
.filtres .filtre-ingredients-content.selected .tag,
.filtres .filtre-appareils-content.selected .tag,
.filtres .filtre-ustensiles-content.selected .tag {
  list-style-type: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.filtres .filtre-ingredients-content.selected .tag:hover,
.filtres .filtre-appareils-content.selected .tag:hover,
.filtres .filtre-ustensiles-content.selected .tag:hover {
  color: black;
}
.filtres #filtre-ingredients input, .filtres #filtre-ingredients .filtre-ingredients-content {
  background-color: #3282F7;
}
.filtres #filtre-appareils input, .filtres #filtre-appareils .filtre-appareils-content {
  background-color: #68D9A4;
}
.filtres #filtre-ustensiles input, .filtres #filtre-ustensiles .filtre-ustensiles-content {
  background-color: #ED6454;
}

.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin: 110px 0 50px;
}
@media screen and (max-width: 800px) {
  .recipes {
    grid-template-columns: 1fr;
    margin: 240px 0 50px;
  }
}
.recipes .not-found {
  width: 80vw;
  text-align: justify;
  line-height: 1.3;
}

.recipe-card {
  height: 400px;
  background: #E7E7E7;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2666666667);
  cursor: pointer;
}
.recipe-card:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.recipe-card__thumbnail img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.recipe-card__title-time {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 15px auto;
  font-size: 17px;
}
.recipe-card__title {
  width: 65%;
}
.recipe-card__time {
  font-weight: bold;
}
.recipe-card__time i {
  padding-right: 10px;
}
.recipe-card__ingredients-description {
  display: flex;
  width: 90%;
  margin: 0 auto;
  font-size: 13px;
}
.recipe-card__ingredients-description--ingredients {
  flex: 2;
  padding-right: 10px;
}
.recipe-card__ingredients-description--description {
  flex: 3;
}
.recipe-card__ingredients-description--description, .recipe-card__ingredients-description--ingredients {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 100%;
}
