@import 'utils/mixins';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "lato", sans-serif;
	width: 80%;
	margin: 0 auto;
	@include mobiles {
		width: 90%;
	}
}

header {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin-bottom: 20px;
	.logo {
		margin: 0 auto;
		margin-top: 30px;
		display: block;
		width: 60px;
	}
	h1 {
		font-family: 'DM sans', sans-serif;
		color: #D04F4F;
		font-size: 36px;
		text-align: center;
	}
}

.search {
	margin-top: 20px;
	form {
		position: relative;
	}
	.search-bar {
		display: block;
		margin: 0 auto;
		width: 100%;
		height: 60px;
		background: #E7E7E7;
		border-radius: 5px;
		border: none;
		outline: none;
		&[placeholder] {
			padding-left: 20px;
		}
	}
	#search-icon {
		position: absolute;
		top: 50%;
		right: 2%;
		transform: translatey(-50%);
		font-size: 1.5em;
		cursor: pointer;
		color: #272727
	}
	button {
		border: none;
		background: transparent;
	}
}
.tags {
	display: flex;
	flex-wrap: wrap;
	.tag-Ingrédients, 
	.tag-Appareils, 
	.tag-Ustensiles {
		color: #fff;
		width: fit-content;
		height: 45px;
		margin: 17px 10px 0 0;
		padding: 0 0.5rem;
		border-radius: 5px;
		display: flex;
		align-items: center;
		cursor: pointer;
		i {
			font-size: 1.3em;
			padding-left: .5rem;
		}
	}
	.tag-Ingrédients {
		background-color: #3282F7;
	}
	.tag-Appareils {
		background-color: #68D9A4;
	}
	.tag-Ustensiles {
		background-color: #ED6454;
	}
}
.filtres {
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
	position: absolute;
	@include mobiles {
		width: 90%;
		margin-top: 12px;
	}
	.filtre {
		margin: 5px 15px 5px 0;
		position: relative;
		width: 150px;
		height: fit-content;
		@include mobiles {
			width: 100%;
			margin: 5px auto;
		}
		i {
			font-size: 1.3em;
			position: absolute;
			top: -3px;
			right: 0;
			padding: 20px;
			color: #fff;
			cursor: pointer;
		}
		&.selected {
			width: 600px;
			@include mobiles {
				width: 100%;
			}
			i {
				transform: rotate(180deg);
				transition: transform .3s ease-in-out .2s;
			}
		}
	}
	#filtre-ingredients, 
	#filtre-appareils, 
	#filtre-ustensiles {
		input {
			color: #fff;
			width: 150px;
			height: 60px;
			border-radius: 5px;
			border: none;
			outline: none;
			padding-left: 15px;
			font-size: 1em;
			@include mobiles {
				width: 100%;
				font-size: 1.1rem;
			}
			&::placeholder {
				color: #fff;
			}
		}
		/*scrollbar des tags*/
		&:hover {
			.filtre-ingredients-content::-webkit-scrollbar-thumb {
				background-color: darken(#3282F7, 10%); 
			}
			.filtre-appareils-content::-webkit-scrollbar-thumb {
				background-color: darken(#68D9A4, 10%); 
			}
			.filtre-ustensiles-content::-webkit-scrollbar-thumb {
				background-color: darken(#ED6454, 10%); 
			}
		}
		.selected {
			width: 600px;
			@include mobiles {
				width: 100%;
			}
		}
		input.selected {
			width: 600px;
			border-radius: 5px 5px 0 0;
			@include mobiles {
				width: 100%;
			}
		}
	}
	.filtre-ingredients-content, 
	.filtre-appareils-content, 
	.filtre-ustensiles-content { //ul
		display: none;
		grid-template-columns: auto auto auto;
		width: 600px;
		color: #fff;
		overflow: hidden;
    	border-radius: 0 0 5px 5px;
		& .not-found {
			padding: 0.5rem 1rem;
		}
		&.selected {
			display: grid;
			height: 16rem;
			overflow-y: scroll;
			&::-webkit-scrollbar {
				width: 12px;
			}
			&::-webkit-scrollbar-thumb {
				height: 50px;
			}
			@include mobiles {
				display: flex;
				flex-direction: column;
				width: 100%;
				padding: 0;
			}
			.tag {
				list-style-type: none;
				padding: .5rem 1rem;
				cursor: pointer;
				&:hover {
					color: black;
				}
			}
		}
	}
	#filtre-ingredients{
		input,.filtre-ingredients-content {
			background-color: #3282F7;
		}
	}
	#filtre-appareils{
		input, .filtre-appareils-content {
			background-color: #68D9A4;
			grid-template-rows: 60px 60px 60px;
		}
	}
	#filtre-ustensiles{
		input, .filtre-ustensiles-content {
			background-color: #ED6454;
		}
	}
}

.recipes {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 50px;
	margin: 110px 0 50px;
	@include mobiles {
		grid-template-columns: 1fr;
		margin: 240px 0 50px;
	}
	.not-found {
		width: 80vw;
		text-align: justify;
		line-height: 1.3;
	}
}
.recipe-card {
	height: 400px;
	background: #E7E7E7;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 0px 5px #0004;
	cursor: pointer;
	&:hover {
		box-shadow: 0px 0px 5px #0006;
	}
	&__thumbnail img {
		width: 100%;
		height: 180px;
		object-fit: cover;
	}
	&__title-time {
		display: flex;
		justify-content: space-between;
		width: 90%;
		margin: 15px auto;
		font-size: 17px;
	}
	&__title {
		width: 65%;
	}
	&__time {
		font-weight: bold;
		i {
			padding-right: 10px;
		}
	}
	&__ingredients-description {
		display: flex;
		width: 90%;
		margin: 0 auto;
		font-size: 13px;
		&--ingredients {
			flex: 2;
			padding-right: 10px;
		}
		&--description {
			flex: 3;
		}
		&--description, &--ingredients {
			display: -webkit-box;
			-webkit-line-clamp: 9;
			-webkit-box-orient: vertical;
			overflow: hidden;
			height: 100%;
		}
	}
}
